@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  height: 100vh;
}

.container {
  padding-inline: 16px;
  margin-inline: auto;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .box {
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  max-width: 1000px;
  height: fit-content;
  gap: 60px;
}
main .container .box .rated {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
main .container .box .rated .text {
  width: 400px;
}
main .container .box .rated .text h1 {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1px;
  word-spacing: -1px;
  line-height: 0.9;
  margin-bottom: 20px;
}
main .container .box .rated .text p {
  line-height: 1.4;
  letter-spacing: -1px;
  word-spacing: 1px;
  font-size: 18px;
}
main .container .box .rated .reviews {
  display: flex;
  flex-direction: column;
}
main .container .box .rated .reviews .review {
  display: flex;
  gap: 25px;
  padding: 15px 22px;
  background: hsl(300, 24%, 96%);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 400px;
}
main .container .box .rated .reviews .review:first-child {
  align-self: flex-start;
}
main .container .box .rated .reviews .review:nth-child(2) {
  align-self: center;
}
main .container .box .rated .reviews .review:last-child {
  align-self: flex-end;
}
main .container .box .rated .reviews .review .star img {
  margin-right: 2px;
}
main .container .box .rated .reviews .review p {
  font-weight: 500;
  word-spacing: 1.5px;
}
main .container .box .buyers {
  display: flex;
  gap: 25px;
  height: 240px;
}
main .container .box .buyers .card {
  background: hsl(300, 43%, 22%);
  border-radius: 5px;
  padding: 35px 28px;
  color: hsl(0, 0%, 100%);
}
main .container .box .buyers .card:first-child {
  align-self: flex-start;
}
main .container .box .buyers .card:nth-child(2) {
  align-self: center;
}
main .container .box .buyers .card:last-child {
  align-self: flex-end;
}
main .container .box .buyers .card .head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 20px;
}
main .container .box .buyers .card .head img {
  width: 40px;
  border-radius: 50%;
}
main .container .box .buyers .card .head .title h3 {
  letter-spacing: -1px;
}
main .container .box .buyers .card .body p {
  line-height: 1.4;
}
main .container .attribution {
  padding: 2em;
  font-size: 11px;
  text-align: center;
}
main .container .attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 767px) {
  main {
    height: fit-content;
  }
  main .container .box {
    gap: 40px;
    margin-top: 60px;
    height: 100%;
  }
  main .container .box .rated {
    grid-template-columns: 1fr;
  }
  main .container .box .rated .text {
    text-align: center;
    margin-bottom: 50px;
    width: 95%;
    margin-bottom: 40px;
  }
  main .container .box .rated .text h1 {
    font-size: 40px;
    line-height: 0.8;
  }
  main .container .box .rated .text p {
    word-spacing: unset;
    letter-spacing: unset;
  }
  main .container .box .rated .reviews .review {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  main .container .box .rated .reviews .review:first-child {
    align-self: center;
  }
  main .container .box .rated .reviews .review:nth-child(2) {
    align-self: center;
  }
  main .container .box .rated .reviews .review:last-child {
    align-self: center;
  }
  main .container .box .rated .reviews .review p {
    font-size: 17px;
    font-weight: 700;
  }
  main .container .box .buyers {
    flex-direction: column;
    height: fit-content;
    gap: 15px;
  }
  main .container .box .buyers .card {
    width: 100%;
    padding: 40px 40px 30px 40px;
  }
  main .container .box .buyers .card .head {
    margin-bottom: 30px;
  }
  main .container .box .buyers .card .head .title h3 {
    letter-spacing: unset;
  }
  main .container .box .buyers .card .head .title p {
    letter-spacing: 1px;
  }
  main .container .box .buyers .card .body p {
    word-spacing: 1px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */